{% extends 'layout.html' %}
{% block body %}

<h2>A</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("A") or recipe.Title.startswith("a")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>B</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("B") or recipe.Title.startswith("b")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>C</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("C") or recipe.Title.startswith("c")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>D</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("D") or recipe.Title.startswith("d")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>E</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("E") or recipe.Title.startswith("e")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>F</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("F") or recipe.Title.startswith("f")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>G</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("G") or recipe.Title.startswith("g")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>H</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("H") or recipe.Title.startswith("h")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>I</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("I") or recipe.Title.startswith("i")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>J</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("J") or recipe.Title.startswith("j")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>K</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("K") or recipe.Title.startswith("k")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>L</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("L") or recipe.Title.startswith("l")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>M</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("M") or recipe.Title.startswith("m")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>N</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("N") or recipe.Title.startswith("n")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>O</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("O") or recipe.Title.startswith("o")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>P</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("P") or recipe.Title.startswith("p")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>Q</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("Q") or recipe.Title.startswith("q")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>R</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("R") or recipe.Title.startswith("r")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>S</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("S") or recipe.Title.startswith("s")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>T</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("T") or recipe.Title.startswith("t")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>U</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("U") or recipe.Title.startswith("u")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>V</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("V") or recipe.Title.startswith("v")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>W</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("W") or recipe.Title.startswith("w")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>X</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("X") or recipe.Title.startswith("x")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>Y</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("Y") or recipe.Title.startswith("y")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>Z</h2>
{% for recipe in all_games %}
    {% if recipe.Title.startswith("Z") or recipe.Title.startswith("z")  %}

        {{ recipe.Title }}
        <form action="{{ url_for('recipe', Title = recipe.Title) }}">
            <input type=submit value="View Recipe">
    </form>
        <br>
    {% endif %}
{% endfor %}

{% endblock body %}
